<nav id="nav">
  <h2>Site Navigation</h2>
  <p id="w3cnav">
    <a href="http://www.w3.org/">W3C Home</a>
  </p>
  <p id="subhomenav">
    <a href="/WAI/">Web Accessibility Initiative (WAI) Home</a>
  </p>
  <ol id="nav1">
    <li class="current-nav"><a href="../gettingstarted/Overview.html">Getting Started</a>
      <ul>
        <li class="nav-head">Using the Web
          <ol>
            <li><a href="../users/browsing.html">Better Web Browsing Tips</a></li>
            <li><a href="../users/inaccessible.html">Contact Inaccessible Websites</a></li>
          </ol>
        </li>
        <li class="nav-head">Accessibility Basics
          <ol>
            <li><a href="/standards/webdesign/accessibility">Accessibility - W3C <img src="http://w3.org/Icons/tr.png" alt="W3C website"></a></li>
            <li><a href="../intro/accessibility.php">Introduction to Accessibility</a></li>
            <li><a href="../intro/components.php">Essential Components</a></li>
            <li><a href="../bcase/Overview.html">Business Case</a></li>
            <li <% if is_current('index.html') %> id="current-node"<% end %>class=""><%= nav_link('Tips for Getting Started', 'index.html') %>
              <ol type='i'>
                <%= list_nav_link('Designing', 'designing.html') %>
                <%= list_nav_link('Writing', 'writing.html') %>
                <%= list_nav_link('Developing', 'developing.html') %>
                <%= list_nav_link('Evaluating', 'evaluating.html') %>
                <%= list_nav_link('Managing', 'managing.html') %>
                <%= list_nav_link('Advocating', 'advocating.html') %>
              </ol>
            </li>
          </ol>
        </li>
      </ul>
    </li>
    <li><a href="../users/Overview.html">Designing for Inclusion</a></li>
    <li><a href="../guid-tech.html">Guidelines &amp; Techniques</a></li>
    <li><a href="../managing.html">Planning &amp; Implementing</a></li>
    <li><a href="../eval/Overview.html">Evaluating Accessibility</a></li>
    <li><a href="../train.html">Tutorials &amp; Presentations</a></li>
    <li><a href="../about-links.html">Getting Involved with WAI</a></li>
  </ol>

  <div id="nav-static">
    <div class="nav-discover">
      <p>
        <a href="http://www.w3.org/WAI/yourWAI"><strong><u>Discover new resources</u></strong> for people with disabilities, policy makers, managers, and you!</a>
      </p>
    </div>
    <p class="translations">
      <a href="http://www.w3.org/WAI/wai-translations"><img src="http://www.w3.org/WAI/images/translations-med-1" alt="characters from different languages"> Translations</a>
    </p>
  </div>
</nav>
