<nav id="nav">
  <h2>Site Navigation</h2>
  <p id="w3cnav">
    <a href="/">W3C Home</a>
  </p>
  <p id="subhomenav">
    <a href="/WAI/">Web Accessibility Initiative (WAI) Home</a>
  </p>
  <ol id="nav1">
    <li class="current-nav"><a href="/WAI/gettingstarted/Overview.html">Getting Started</a>
      <ul>
        <li class="nav-head">Using the Web
          <ol>
            <li><a href="/WAI/users/browsing.html">Better Web Browsing Tips</a></li>
            <li><a href="/WAI/users/inaccessible.html">Contact Inaccessible Websites</a></li>
          </ol>
        </li>
        <li class="nav-head">Accessibility Basics
          <ol>
            <li><a href="/standards/webdesign/accessibility">Accessibility - W3C <img src="/Icons/tr.png" alt="W3C website"></a></li>
            <li><a href="/WAI/intro/accessibility.php">Introduction to Accessibility</a></li>
            <li><a href="/WAI/intro/components.php">Essential Components</a></li>
            <li><a href="/WAI/bcase/Overview.html">Business Case</a></li>
            <li <% if is_current('index.html') %>id="current-node" <% end %>class=""><%= nav_link('Tips for Getting Started', 'index.html') %>
              <ol type="i">
                <%= list_nav_link('Designing', 'designing.html') %>
                <%= list_nav_link('Writing', 'writing.html') %>
                <%= list_nav_link('Developing', 'developing.html') %>
                <%= list_nav_link('Evaluating', 'evaluating.html') %>
                <%= list_nav_link('Managing', 'managing.html') %>
                <%= list_nav_link('Advocating', 'advocating.html') %>
              </ol>
            </li>
          </ol>
        </li>
      </ul>
    </li>
    <li><a href="/WAI/users/Overview.html">Designing for Inclusion</a></li>
    <li><a href="/WAI/guid-tech.html">Guidelines &amp; Techniques</a></li>
    <li><a href="/WAI/managing.html">Planning &amp; Implementing</a></li>
    <li><a href="/WAI/eval/Overview.html">Evaluating Accessibility</a></li>
    <li><a href="/WAI/train.html">Tutorials &amp; Presentations</a></li>
    <li><a href="/WAI/about-links.html">Getting Involved with WAI</a></li>
  </ol>

  <div id="nav-static">
    <div class="nav-discover">
      <p>
        <a href="/WAI/yourWAI"><strong><u>Discover new resources</u></strong> for people with disabilities, policy makers, managers, and you!</a>
      </p>
    </div>
    <p class="translations">
      <a href="/WAI/wai-translations"><img src="/WAI/images/translations-med-1" alt="characters from different languages"> Translations</a>
    </p>
  </div>
</nav>
