<%= partial "layouts/header" %>

<main role="main" class="content <%= current_page.data.status %><% if current_page.data.splash_image %> has_splash" style="background-image: url(img/<%= current_page.data.splash_image %>)<% end %>">
  <article role="article">
  <header class="heading">
    <h1>
      <%= current_page.data.title %>
    </h1>
  </header>

  <div class="inner">
    <%= yield %>
  </div>
  </article>
</main>

<%= partial "layouts/footer" %>