<%= partial "layouts/header" %>

<main id="main" role="main">
  <%= partial "layouts/status" %>
  <% if current_page.data.layout == 'guide' %>
    <%= partial "layouts/sectionnav" %>
  <% end %>
  <header class="heading">
    <h1><%= current_page.data.title %></h1>
    <% if current_page.data.subtitle %>
    <p class="subtitle"><%= current_page.data.subtitle %></p>
    <% end %>
  </header>

  <div class="inner">
    <%= yield %>
  </div>

  <%= partial "layouts/contribute" %>
</main>

<%= partial "layouts/footer" %>