<%= partial "layouts/header" %>

<main id="main" role="main">
  <%= partial "layouts/status" %>
  <header class="heading">
    <% if current_page.path == 'index.html' %>
      <h1><%= current_page.data.title %></h1>
    <% else %>
      <h1 class="has-icon"><svg><use xlink:href="#<%= File.basename(current_page.path, '.html') %>"></svg>  <%= current_page.data.title %></h1>
    <% end %>
  </header>

  <% if current_page.data.layout == 'guide' %>
    <div class="right-inset">
      <%= partial "layouts/sectionnav" %>
      <%= partial "layouts/what_is_wcag" %>
    </div>
  <% end %>

  <div class="inner">
    <%= yield %>
  </div>

  <%= partial "layouts/contribute" %>
</main>

<%= partial "layouts/footer" %>