<%= partial "layouts/header" %>

<main id="main" role="main">
  <%= partial "layouts/status" %>
  <% if current_page.data.layout == 'guide' %>
    <%= partial "layouts/sectionnav" %>
  <% end %>
  <header class="heading">
    <% if current_page.data.heading == 'option1'  %>
      <h1><%= current_page.data.title %><% if current_page.data.subtitle %>: <%= current_page.data.subtitle %><% end %></h1>
    <% else %>
      <h1><%= current_page.data.title %></h1>
      <% if current_page.data.subtitle %>
      <p class="subtitle"><%= current_page.data.subtitle %></p>
      <% end %>
    <% end %>
  </header>

  <div class="inner">
    <%= yield %>
  </div>

  <%= partial "layouts/contribute" %>
</main>

<%= partial "layouts/footer" %>